<link href="templates/css/competition.css" rel="stylesheet">

<ion-content class="content_comp">
  
<div class="card">
  <div class="item item-divider">
    Beschreibung
  </div>
  
  <div class="item item-text-wrap">
 <p>Bei diesem Event treten die Kiter <b>teamweise</b> an und kombinierten New- mit Old               School, Style mit Klasse und Höhe mit Technik.</p>
        
        <p>Jedes der 12 Dreier Teams besteht aus: </p>
        <p><b>Hooked Tricks:</b> 1x Mann & 1x Frau </p>
        <p><b>New School Tricks:</b> 1x Mann </p>
        
        <p>Diese Teams batteln sich zuerst in den Gruppen um danach in der K.O. Phase das Siegerteam zu ermitteln.</p>
        <p>Preisgeld: 10.000 Euro - The winner team takes it all!!</p>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    Upcomming Events
  </div>

  <div class="item item-text-wrap">

  </div>
</div>
  
</ion-content>