<link href="templates/css/competition.css" rel="stylesheet">

<ion-view title="Bewerbe">
  <ion-content has-header="true" has-footer="true" padding="true" id="main_content">
<div id="bewerbe" value="2">
    <div class="card" id="card">
      <div class="item item-divider" id="header">
        {{header[0]}}
      </div>

      <div class="comment more" id="desc">
 Freestyle Surfen ohne Wind - geht das?
Bei uns schon! Mit Hilfe eines Jetskis wird der Rider auf über 50 km/h beschleunigt. Am Punkt mit dem höchsten Speed lässt der Athlet die Hantel los und zeigt direkt vor dem Publikum die fettesten Tricks und Moves. 

Ursprünglich als "Flautenprogramm" erfunden, entwickelte sich diese Disziplin schnell zu einem eigenen, spannenden Bewerb. In Podersdorf wird, wie in den letzen Jahren die EM ausgetragen, welche mit 5.000 Euro dotiert ist.

Zuerst werden in 3 Gruppen die besten 10 Rider für das Finale ermittelt. Dieses steigt am Sonntag, den 03.05. um 15 Uhr. Gleich im Anschluss gibt es die Siegerehrung auf der Ö3-Seebühne.
      </div>
    </div>

  
  
  

    <button id="rider_button" class="button icon-right ion-chevron-right" ng-click="opendiv_rider()">Starter</button>
    <button id="program_button" class="button icon-right ion-chevron-right ion" ng-click="opendiv_program()">Programm </button>
    
    <div class="rider" id="rider">
      <a ng-repeat="item in riderData track by $index" class="item item-avatar">
        <img src="img/homer.jpg">
        <h2>{{item[1]}} {{item[2]}}</h2>
        <p>{{item[3]}} | {{item[4]}}</p>
      </a>
    </div>

    <div class="program" id="program">
      <a class="item item-avatar" ng-repeat="item in programData track by $index">
        <img src={{picName[$index]}}>
        <h2>{{item[4]}}</h2>
        <p class="icon ion-clock"> {{item[2]}} - {{item[3]}}</p>
        <p class="icon ion-calendar"> {{item[1]}}</p>
      </a>
    </div>
 </div>   
  </ion-content>
</ion-view>