<link href="templates/css/competition.css" rel="stylesheet">

<ion-view title="Bewerbe">
  <ion-content has-header="true" has-footer="true" padding="true" id="main_content">
<div id="bewerbe" value="0">
    <div class="card" id="card">
      <div class="item item-divider" id="header">
        {{header[0]}}
      </div>

      <div class="comment more" id="desc">
 Die Kiter treten heuer wieder teamweise an! Sie kombinieren Newschool mit hooked tricks, Style mit Klasse, Höhe mit Technik und des nächtens Coke mit Bacardi - aber das geht jetzt zu weit ;-)
Bei keinem anderen Eventformat auf der Welt bekommst du diese volle Bandbreite des Kitesurfens gleichzeitig zu Gesicht.

Die unglaublichen Tricks beim Kiten werden hier in den 5. Stock gehoben und allein bei der Dauer die diese Jungs und Mädels in der Luft verbringen wird es Normalsterblichen schon schlecht. Es gibt wenig das so spektakulär und stylish zugleich aussieht und manch einer steht am Ufer und kann nicht glauben, dass er das jetzt wirklich am Neusiedlersee zu sehen bekommt.

      </div>
    </div>


    <button id="rider_button" class="button icon-right ion-chevron-right" ng-click="opendiv_rider()">Starter</button>
    <button id="program_button" class="button icon-right ion-chevron-right ion" ng-click="opendiv_program()">Programm </button>
    
    <div class="rider" id="rider">
      <a ng-repeat="item in riderData track by $index" class="item item-avatar">
        <img src="img/homer.jpg">
        <h2>{{item[1]}} {{item[2]}}</h2>
        <p>{{item[3]}} | {{item[4]}}</p>
      </a>
    </div>

    <div class="program" id="program">
      <a class="item item-avatar" ng-repeat="item in programData track by $index">
        <img src={{picName[$index]}}>
        <h2>{{item[4]}}</h2>
        <p class="icon ion-clock"> {{item[2]}} - {{item[3]}}</p>
        <p class="icon ion-calendar"> {{item[1]}}</p>
      </a>
    </div>
  </div>  
  </ion-content>
</ion-view>