<link href="templates/css/competition.css" rel="stylesheet">

<ion-content class="content_comp">

  <ion-tabs class="tabs-positive">
      <ion-tab title="Team" ui-sref="team"></ion-tab>
      <ion-tab title="PWA"  ui-sref="pwa"></ion-tab>
      <ion-tab title="TOW-IN EM" ui-sref="towin"></ion-tab>
  </ion-tabs>

  <div class="card">
  <div class="item item-divider">
    PWA
  </div>
  
  <div class="item item-text-wrap">
    <p> 
      <img style="float: right;" class="image" src="img/competition3.jpg" alt="Team" />
     Bei einem Freestyle Bewerb geht es darum, wer die radikalsten Sprünge und unglaublichsten Tricks auf das Wasser zaubert. In einem K.O. System batteln sich die besten 48 Freestyler der Welt beim ersten Tourstopp der PWA um die Führung im Worldcup und um 35.000 Euro Preisgeld.<br>

     <b>Wer sind die Favoriten?</b><br>

Jose Gollito Estredo aus Venezuela (6-facher WM), Kiri Thode aus Bonaire (WM 2013), Steven van Broeckhoven (WM 2012 & 4-facher EM), Vize Europameister Dieter van der Eyken - beide aus Belgien, der Publikumsliebling aus Bonaire Tonky Frans, Europameister 2012 Davy Scheffers (NL), Anthony Ruenes (FRA) sowie Philip Soltysiak (CAN). <br>

Aber auch Local Hero Max Matissek hat heuer gute Chancen in die Top 10 vorzustoßen!
    </p>
  </div>
</div>

  
</ion-content>