<link href="templates/css/competition.css" rel="stylesheet">

<ion-content class="content_home">
<div class="header">Team Competition</div>
<div class="row">
    <div class="col s12 m6">
        <div class="card grey lighten-4">
            <div class="card-content black-text upcomingcard " style="padding-top: 1vh;">
                Die Kiter treten heuer wieder teamweise an! Sie kombinieren New- mit Old School, Style mit Klasse, Höhe mit Technik und des nächtens Coke mit Bacardi - aber das geht jetzt zu weit ;-) <br>
                Bei keinem anderen Eventformat auf der Welt bekommst du diese volle Bandbreite des Kitesurfens gleichzeitig zu Gesicht. <br>

                Die unglaublichen Tricks beim Kiten werden hier in den 5. Stock gehoben und allein bei der Dauer die diese Jungs und Mädels in der Luft verbringen wird es Normalsterblichen schon schlecht. Es gibt wenig das so                 spektakulär und stylish zugleich aussieht und manch einer steht am Ufer und kann nicht glauben, dass er das jetzt wirklich am Neusiedlersee zu sehen bekommt.<br>

<!--
                Jedes der 12 Dreier Teams besteht aus:<br> 
                Hooked Tricks: 1x Mann & 1x Frau<br>
                New School Tricks: 1x Mann<br>

                Diese Teams batteln sich zuerst in den Gruppen um danach in der K.O. Phase das Siegerteam zu ermitteln.<br>

                Preisgeld: 10.000 Euro - The winner team takes it all!!<br>

                Disziplinen: Freestyle & Hang Time Contest<br> -->

            </div>  
        </div>  
    </div>  
</div>  
    
    
<button class="button_back" ui-sref="comp_back">Back</button>
</ion-content>