<link href="templates/css/competition.css" rel="stylesheet">

<ion-view title="Bewerbe">
  <ion-content has-header="true" has-footer="true" padding="true" id="main_content">

    <div class="card">
      <div class="item item-divider">
        {{header}}
      </div>
      <div class="item item-text-wrap">
        {{descr}}
        
      </div>
    </div>

    <button id="rider_button" class="button icon-right ion-chevron-right" ng-click="opendiv_rider()">Rider</button>

    <div class="rider" id="rider">

      <a ng-repeat="item in riderData track by $index" class="item item-avatar">
        <img src="img/homer.jpg">
        <h2>{{item[1]}} {{item[2]}}</h2>
        <p>{{item[3]}} | {{item[4]}}</p>
      </a>
    </div>

    <button id="program_button" class="button icon-right ion-chevron-right" ng-click="opendiv_program()">Programm</button>

    </div>
    <div class="program" id="program">
      <div class="card">
        <div class="item item-text-wrap">
          <table id="table" class="upeventstable">
            <tr class="header_table">
              <td>Datum</td>
              <td>von</td>
              <td>bis</td>
              <td>Beschreibung</td>
            </tr>
            <tr ng-repeat="item in programData track by $index">
              <td>{{item[1]}}</td>
              <td>{{item[2]}}</td>
              <td>{{item[3]}}</td>
              <td>{{item[4]}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>