<link href="templates/css/competition.css" rel="stylesheet">

<ion-content class="content_comp">
<div class="card">
  <div class="item item-divider">
    TOW-IN EM
  </div>
  
  <div class="item item-text-wrap">
    <p> 
      <img style="float: right;" class="image" src="img/competition2.jpg" alt="Team" />
     <b>Freestyle Surfen ohne Wind - geht das?</b><br>
Bei uns schon! Mit Hilfe eines Jetskis wird der Rider auf über 50 km/h beschleunigt. Am Punkt mit dem höchsten Speed lässt der Athlet die Hantel los und zeigt direkt vor dem Publikum die fettesten Tricks und Moves. <br>

Ursprünglich als "Flautenprogramm" erfunden, entwickelte sich diese Disziplin schnell zu einem eigenen, spannenden Bewerb. In Podersdorf wird, wie in den letzen Jahren die EM ausgetragen, welche mit 5.000 Euro dotiert ist.<br>

Zuerst werden in 3 Gruppen die besten 10 Rider für das Finale ermittelt. Dieses steigt am Sonntag, den 03.05. um 15 Uhr. Gleich im Anschluss gibt es die Siegerehrung auf der Ö3-Seebühne.
      
    </p>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    Upcomming Events
  </div>

  <div class="item item-text-wrap">

  </div>
</div>
  
  
</ion-content>