<link href="templates/css/competition.css" rel="stylesheet">

<ion-content class="main_content">

  <div class="card">
  <div class="item item-divider">
   Electro Floor
  </div>
  
  <div class="item item-text-wrap">
    <p> 
      <img style="float: right;" class="image" src="img/competition3.jpg" alt="Team" />
    Mit dem Besten aus Dance, House und Electro kommt hier jeder auf seine Kosten! Die bekannten Club-Formate der Passage Wien - Vienna Calling, Retro, Cosmo & Club Fusion - zu Gast in Podersdorf.

    </p>
  </div>
</div>


</ion-content>