<link href="templates/css/home.css" rel="stylesheet">
<script src="../tests/test_home.js"></script>
<script src="js/functionality.js"></script>

<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>

        <ion-nav-bar class="bar-light">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent">
            <ion-content class="content_home">
                    <ion-slide-box on-slide-changed="slideHasChanged($index)">
                        <ion-slide>
                            <div class="box"><img id="image0">
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="box"><img id="image1">
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="box"><img id="image2">
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="box"><img id="image3">
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="box"><img id="image4">
                            </div>
                        </ion-slide>
                    </ion-slide-box>

            </ion-content>
        </ion-nav-view>
    </ion-side-menu-content>


    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Left</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/events">
                    Events
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/search">
                    Search
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/browse">
                    Browse
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/playlists">
                    Playlists
                </ion-item>
            </ion-list>

        </ion-content>
    </ion-side-menu>
</ion-side-menus>