<link href="templates/css/competition.css" rel="stylesheet">

<ion-content class="main_content">

  <div class="card">
  <div class="item item-divider">
    BUDDY PARTYS
  </div>
  
  <div class="item item-text-wrap">
    <p> 
      <img style="float: right;" class="image" src="img/competition3.jpg" alt="Team" />
Schon mal mit Surfern gefeiert? Schon mal auf Partys gewesen, vor denen uns jeder gewarnt hat, die wir nicht für möglich gehalten haben und die wir verdammt nochmal jedes Jahr wieder erleben wollen? Es gibt nur wenige Fotos, aber viele Stories - vielleicht will deshalb jeder hin! ABER: Nicht jeder kann!
Wenn du da rein willst und meinst du bist einer von den Buddies, dann hast du vielleicht eh schon dein Ticket ;-) Wenn nicht, wird's schwierig - aber nicht unmöglich!

Frag' herum, mach dich schlau und besorg' dir deinen Promo-Code!

Wie werde ich Buddy?
Zwei Möglichkeiten hast du:
Entweder du kennst wen, der kennt wen, der kennt wen, ... der schon Ambassador vom Surf Worldcup ist. Diese Ambassadors versorgen dich, wenn du sie überzeugst natürlich ;-), mit einem Promotioncode für den exklusiven Ticketkauf. 
Oder du schickst uns direkt eine Mail, wo du uns erklärst, warum wir genau dich bei unseren exklusiven Partys vor Ort dabei haben müssen ;-) 
Bewerbungen an buddy@surfworldcup.at
Mit dem Promotioncode, egal, ob von einem Ambassador oder von uns, kannst du dir dann HIER dein Buddy Package kaufen und den Zutritt zu den absolut genialen Partys am Strandgelände sichern.

    </p>
  </div>
</div>

	
  
</ion-content>