<link href="templates/css/competition.css" rel="stylesheet">

<ion-content class="main_content">

  <div class="card">
  <div class="item item-divider">
   Party Floor
  </div>
  
  <div class="item item-text-wrap">
    <p> 
      <img style="float: right;" class="image" src="img/competition3.jpg" alt="Team" />
    Das RUMreiche Bacardi Partyzelt ist heuer ein noch größeres Zirkuszelt mit komplett neuer Innengestaltung, 2 Bühnen und jeder Menge Special Effects. Perfekt für die Ö3-Partys und zum Abfeiern zu den größten Partyhits aller Zeiten.

    </p>
  </div>
</div>


</ion-content>