<link href="templates/css/competition.css" rel="stylesheet">

<ion-content class="content_comp">

  <div class="card">
  <div class="item item-divider">
    Kick-Off Party
  </div>
  
  <div class="item item-text-wrap">
    <p> 
      <img style="float: right;" class="image" src="img/competition3.jpg" alt="Team" />
    KICK OFF sagt eigentlich eh schon alles. Da geht`s los, bevor es richtig losgeht!
Die erste Nacht des Worldcups is a bissl offiziell, ein wenig kriminell und was an Prozenten übrig bleibt: spirituell. Bei manch anderer Party in einer Location wie dieser könnte man glauben man hat einen Tinnitus auf den Augen - man sieht nur Pfeifen. Nicht aber bei der Kick Off Party in Toni's Martinskeller. Wer es hierher schafft, gehört dazu bevor er drin ist. Hier dabei zu sein heißt, das volle Package mitzunehmen. D.h. Traummusik bei bester energiegeladener Stimmung … It all starts HERE!!!

    </p>
  </div>
</div>

	
  
</ion-content>