<link href="templates/css/competition.css" rel="stylesheet">

<ion-content class="content_comp">

  <div class="card">
  <div class="item item-divider">
    BIG PARTYS - NIGHTPARK
  </div>
  
  <div class="item item-text-wrap">
    <p> 
      <img style="float: right;" class="image" src="img/competition3.jpg" alt="Team" />
  Alle, die glauben, sie hätten schon alles gesehen, liegen so falsch und können sich schon gar nicht mehr erinnern, wovor ihre Mütter sie gewarnt haben - nämlich vor den Nächten in Podersdorf. Die angesagtesten Clubs aus Wien bringen jede Menge Specials und Surprise-Acts mit nach Podersdorf, es wird also noch schriller, noch schärfer, noch prickelnder, noch flüssiger, noch …

    </p>
  </div>
</div>
	
	
	<div class="list card">

  <a href="#/partyfloor" class="item item-icon-left">
    <i class="icon ion-speakerphone"></i>
    Party Floor
	  <i class="icon ion-chevron-right" id="party_forward"></i>
  </a>
	
  <a href="#/electrofloor" class="item item-icon-left">
    <i class="icon ion-speakerphone"></i>
    Electro Floor
	   <i class="icon ion-chevron-right" id="party_forward"></i>
  </a>

  <a href="#/surfersfloor" class="item item-icon-left">
    <i class="icon ion-speakerphone"></i>
   Surfers Floor
	   <i class="icon ion-chevron-right" id="party_forward"></i>
  </a>
		<a href="#/randbfloor" class="item item-icon-left">
    <i class="icon ion-speakerphone"></i>
   R&B Hall
			 <i class="icon ion-chevron-right" id="party_forward"></i>
  </a>


</div>

	
  
</ion-content>