<!-- SideEvents Surfe Detail page!  -->

<link href="templates/css/side_events_detail.css" rel="stylesheet">
<ion-view title="Side Events">

<ion-content id="main_content" has-header="true" has-footer="true" padding="true">
    <button class="button" id="btnAction" ng-click="showInfo(12, 3)">Action</button>
    <button class="button" id="btnGeschick" ng-click="showInfo(13, 3)">Geschick</button>
    <button class="button" id="btnOe3" ng-click="showInfo(14, 3)">Ö3-Seebühne</button>
    <button class="button" id="btnSun" ng-click="showInfo(15, 3)">Sundowner</button>
    
     <div class="popUpdiv" style="display:none" id="divContainer3">
    <span id="divTitle3"></span>
    <p id="divText3"></p>
    <a ng-click="showInfo(9999, 3)">Close</a>
    
</ion-content>
</ion-view>