<!-- SideEvents Surfe Detail page!  -->

<link href="templates/css/side_events_detail.css" rel="stylesheet">
<ion-view class="main_content">
<ion-content >

    <div class="list">
        <div class="item item-divider">
            <h2>Ö3 Seebühne</h2>
        </div>
        <div id="list_item" class="item">
            <span>Ö3 DJ-Lounge</span>
            <div id="text">Die perfekte musikalische Begleitung für den Tag am See kommt von Ö3-DJ Christian Prates. Mal fetzig-mitreißend, dann wieder chillig-entspannt - die Ö3-Seebühne ist der Mittelpunkt des Geländes.
            </div>
        </div>
        <div id="list_item" class="item">
            <span>Sundowner Deluxe</span>
            <div id="text">Jeden Tag von 19 bis 21 Uhr - feine Beats, atemberaubender Sonnenuntergang heißt Ibiza-Feeling pur.
            </div>
        </div>

    </div>
</ion-content>
</ion-view>