<!-- SideEvents Surfe Detail page!  -->

<link href="templates/css/side_events_detail.css" rel="stylesheet">

<script>
    $('item').bind('touchstart', function () {});
</script>
<ion-view title="Side Events">

<ion-content id="main_content" has-header="true" has-footer="true" padding="true">
    
    <div class="list">
        <div class="item item-divider">
            <h2>Surfen</h2>
    </div>
        <div id="list_item" class="item">
            <span>JOYA Stand Up Paddling Area</span>
            <div id="text">Die am schnellsten wachsende Wassersportart - exklusiv am Surf Worldcup 2015! <br> Teste bis zu 80 verschiedene Boards und lass dich begeistern. Für besonders Mutige gibt es zusätzlich noch ein SUPstacles-Rennen - alle Infos hierzu gibts auf <a href="www.supstacles.com">SUPstacles</a>
            </div>
        </div>
        <div id="list_item" class="item">
            <span>Fahrerlager - "Pit Walk"</span>
            <div id="text">Die Top 8 Rider präsentieren sich im neu gestalteten Fahrerlager publikumsnahe wie selten zuvor: Die coolen Kojen bestaunen und mit den Profis fachsimplen.
            </div>
        </div>
        <div id="list_item" class="item">
            <span>Gratis Windsurfkurse</span>
            <div id="text">Für alle, die mal in den Windsurfsport hineinschnuppern möchte : Die Gratis Surfkurse von De Silva Windresort Kalpitiya.
            </div>
        </div>
    </div>
</ion-content>
	</ion-view>