<!-- SideEvents Surfe Detail page!  -->

<link href="templates/css/side_events_detail.css" rel="stylesheet">

<script>
    $('item').bind('touchstart', function () {});
</script>
<ion-view class="main_content">
<ion-content >
    
    <div class="list">
        <div class="item item-divider">
            <h2>Food + Drinks</h2>
    </div>
        <div id="list_item" class="item">
            <span>Abwechslungsreiche Gastro</span>
            <div id="text">Genieße Spezialitäten aus aller Welt: Die legendären Surf-Burger, gschmackiger Kebap, feine Crepes, Steinofen-Pizza und bodenständigen Gerichte wie Schinkenfleckerl oder Käsekrainer - für jeden Geschmack ist das richtige dabei.
            </div>
        </div>
        <div id="list_item" class="item">
            <span>Coole Drinks</span>
            <div id="text">Egal ob Bier, Cocktail oder alkoholfreie Getränke: Lehn dich zurück und genieße deine kühlen Drinks auf 100 Strandliegen und 300 Liegestühle!
            </div>
        </div>
    </div>
</ion-content>
</ion-view>