<!-- SideEvents page!  -->

<link href="templates/css/side_events.css" rel="stylesheet">

<script>
    $('item').bind('touchstart', function () {});
</script>

<ion-content class="content_event">
    <div class="list">
        <div id="list_item" class="item" ng-click="nextScreen('side_events_surfen')">
            <a class="icon ion-navigate"></a>
            <span>Surfen</span>
        </div>
        <div id="list_item" class="item" ng-click="nextScreen('side_events_trendsport')">
            <a class="icon ion-fireball"></a>
            <span>Trendsport</span>
        </div>
        <div id="list_item" class="item" ng-click="nextScreen('side_events_shows')">
            <a class="icon ion-wand"></a>
            <span>Shows</span>
        </div>
        <div id="list_item" class="item" ng-click="nextScreen('side_events_food')">
            <a class="icon ion-beer"></a>
            <span>Food + Drinks</span>
        </div>
        <div id="list_item" class="item" ng-click="nextScreen('side_events_oe3')">
            <a class="icon ion-radio-waves"></a>
            <span>Ö3 - Seebühne</span>
        </div>
    </div>
</ion-content>