<!-- SideEvents Surfe Detail page!  -->

<link href="templates/css/side_events_detail.css" rel="stylesheet">

<script>
    $('item').bind('touchstart', function () {});
</script>

<ion-view title="Side Events">
<ion-content id="main_content" has-header="true" has-footer="true" padding="true">
    
    <div class="list">
        <div class="item item-divider">
            <h2>Trendsport</h2>
    </div>
        <div id="list_item" class="item">
            <span>Beach Summer Games</span>
            <div id="text">In der Beach Games Area dreht sich wieder alles um den Ball. <b>Beach Volleyball</b> direkt bei den Profis lernen oder einfach frei spielen - mit der höchsten Turnierklasse und Schnuppertraining ist alles dabei. Am 01.05. gibt es außerdem das farbenfrohe <b>Dodgeball-Turnier</b>.
            </div>
        </div>
        <div id="list_item" class="item">
            <span>Playground</span>
            <div id="text"> Die Area to be für alle Skater! Der Treffpunkt am Mittelpunkt des Geländes ist der Traum für alle mit Scooter, Skateboard, Longboard, etc. Teste unsere Obstacles für Tricks oder genieße einfach die täglichen Shows und Contests.
            </div>
        </div>
        <div id="list_item" class="item">
            <span>Sportunion Burgenland/ Kids Area</span>
            <div id="text">Die Sportunion Burgenland bringt die Kids zum Sport! Heuer wieder mit dabei: Ihre Airtrack Bahn, Mega-Zorbs (Riesenbälle aus Plastik), Discgolf, Bassalo, ...
            </div>
        </div>
    </div>
</ion-content>
	</ion-view>