<!-- SideEvents page!  -->

<link href="templates/css/side_events.css" rel="stylesheet">

<ion-content class="content_event">
    <ion-tabs id="tabs">
        <ion-tab title="Sport" ui-sref="sideEvents.sport">  
            <ion-nav-view name="sport"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Food & Drinks" ui-sref="sideEvents.food">
            <ion-nav-view name="food"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Shows" onclick="sideEvents.show">
            <ion-nav-view name="show"></ion-nav-view>
        </ion-tab>
            </div>
    </ion-tabs>
</ion-content>