<!-- SideEvents Surfe Detail page!  -->

<link href="templates/css/side_events_detail.css" rel="stylesheet">

<script>
    $('item').bind('touchstart', function () {});
</script>
<ion-view title="Side Events">

<ion-content  id="main_content" has-header="true" has-footer="true" padding="true">
    
    <button class="button" id="btnBurger" ng-click="showInfo(6, 2)">Surf-Burger</button>
    <button class="button" id="btnPizza" ng-click="showInfo(7, 2)">Pizza</button>
    <button class="button" id="btnKost" ng-click="showInfo(8, 2)">Heimische Kost</button>
    <button class="button" id="btnBier" ng-click="showInfo(9, 2)">Bier</button>
    <button class="button" id="btnCocktail" ng-click="showInfo(10, 2)">Coole Cocktails</button>
    <button class="button" id="btnAlkFrei" ng-click="showInfo(11, 2)">Alkoholfreie Getränke</button>
    
     <div class="popUpdiv" style="display:none" id="divContainer2">
    <span id="divTitle2"></span>
    <p id="divText2"></p>
    <a ng-click="showInfo(9999, 2)">Close</a>

</ion-content>
</ion-view>