<link href="templates/css/competition.css" rel="stylesheet">

<ion-content class="content_comp">

  <div class="card">
  <div class="item item-divider">
   Surfers Floor
  </div>
  
  <div class="item item-text-wrap">
    <p> 
      <img style="float: right;" class="image" src="img/competition3.jpg" alt="Team" />
   Surfer ALARM!! Der Floor, mit der größten Dichte an Surfern! Abrocken gemeinsam mit der Crew der PODO Surf-Bar - da wird garantiert jeder zu einem Surf-Buddy oder einer Surf-Chicka.

    </p>
  </div>
</div>


</ion-content>