.content_home {
    position: fixed;
    background-image: url(../../img/8722167302_9511b81630_o.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 8%;
    height: auto;
    width: auto;

}

.slider
{
    position: relative;
    height: 35%;
    width: 90%;
    top: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
}

#content
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.box
{
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
}

.box img
{
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
}

.slider-pager
{
    z-index: 999;
}

.card-image {
    margin-top: -10px;
}

#timeline {
    box-sizing: initial;
    margin-left: 5vh;
    margin-bottom: 40px;
    border-left: 2px solid #9e9e9e;
    padding-left: 10px;
    width: 70vw;
}

.upcomingcard {}

.indexeventheader {
    font-size: 1.5em;
}

.toallevents {
    bottom: 20px;
}

.eventcontent {
    font-size: 0.8em;
    margin-top: 5px;
}

.timelinetime {
    margin-left: -18px;
    background-color: #f5f5f5;
    float: left;
}

.card-content {}

.mapimage {
    width: 60vw;
    float: left;
}

.extendarrow {
    float: left;
    width: 70vw;
    padding-right: 10vw;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}

.mapimage {
    max-height: 0;
	overflow: hidden;
    padding-right: 100%;
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
}

.img-fade-in {
    display: inherit;
    max-height: auto;
}
.mapmarker{
position: absolute;
}
.mapwrapper{

}

.row {

    padding-top: 10%;


    
}
