.main_content {
    position: fixed;
    background-image: url(../../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: auto;
    width: auto;

}

.bar-light {
 z-index: 999;   
}

