.content_event {
    position: fixed;
    background-image: url(../../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: auto;
}

.tabs
{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.tab-nav
{
   background-color: rgba(0, 0, 0, 0.9);
   color: white; 
}

.tab-item
{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}